*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--background: hsl(221.2 50% 96%);
	--foreground: hsl(222.2 84% 4.9%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(222.2 84% 4.9%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(222.2 84% 4.9%);
	--primary: hsl(221.2 83.2% 53.3%);
	--primary-foreground: hsl(210 40% 98%);
	--secondary: hsl(210 40% 96.1%);
	--secondary-foreground: hsl(222.2 47.4% 11.2%);
	--muted: hsl(210 40% 96.1%);
	--muted-foreground: hsl(215.4 16.3% 46.9%);
	--accent: hsl(210 40% 96.1%);
	--accent-foreground: hsl(222.2 47.4% 11.2%);
	--destructive: hsl(0 84.2% 60.2%);
	--destructive-foreground: hsl(210 40% 98%);
	--border: hsl(214.3 31.8% 91.4%);
	--input: hsl(214.3 31.8% 91.4%);
	--ring: hsl(221.2 83.2% 53.3%);
	--shadow: hsla(0, 0%, 0%, 0.051);

	--radius: 0.5rem;

	--transition: 250ms ease-in-out;
}

html {
	font-size: 16px;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	list-style-type: none;
}

.avatar {
	--size: 36px;

	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

.avatar--large {
	--size: 64px;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: inherit;
	height: 100vh;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	overflow: hidden;
	background-color: var(--background);
	color: var(--foreground);
}

.sidebar {
	background-color: var(--primary);
	color: var(--primary-foreground);
	grid-row: 1 / -1;
	padding: 24px 12px;
	display: flex;
	flex-direction: column;
}

.logo {
	color: var(--primary-foreground);
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}

.logo__label {
	display: none;
}

.nav {
	flex: 1;
	display: grid;
	gap: 48px;
	margin-top: 48px;
	align-content: space-between;
}

.nav__menu {
	list-style-type: none;
	display: grid;
	gap: 6px;
}

.nav__link {
	width: 36px;
	height: 36px;
	display: grid;
	place-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--primary-foreground);
	padding: 8px;
	border-radius: var(--radius);
	transition: color var(--transition), background-color var(--transition);
}

.nav__link:hover,
.nav__link.active {
	background-color: var(--primary-foreground);
	color: var(--primary);
}

.nav__label {
	display: none;
}

@media screen and (min-width: 992px) {
	body {
		grid-template-columns: 250px 1fr;
	}
	.logo {
		font-size: 1.5rem;
	}
	.logo__label {
		display: inline;
		margin-inline-start: 6px;
	}
	.nav__link {
		width: initial;
		height: initial;
		place-items: initial;
		align-items: baseline;
		gap: 8px;
		grid-template-columns: 36px 1fr;
	}
	.nav__label {
		display: block;
	}
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 36px;
	background-color: var(--card);
	padding: 24px;
	z-index: 100;
	box-shadow: 0 2px 4px var(--shadow);
}

.search {
	display: flex;
	align-items: center;
	gap: 12px;
}

.search input {
	flex: 1;
	border-radius: var(--radius);
	border: none;
	background-color: var(--background);
	font-size: 1em;
	padding: 4px 8px;
}

.user {
	display: flex;
	align-items: center;
	gap: 24px;
	justify-content: flex-end;
}

.greeting {
	display: flex;
	gap: 12px;
	align-items: center;
}

.greeting__message {
	display: grid;
	gap: 6px;
}

.greeting__word {
	font-size: 0.875em;
}

.greeting__user {
	font-weight: bold;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 12px;
}

.button {
	background-color: var(--primary);
	color: var(--primary-foreground);
	border: none;
	padding: 8px 16px;
	border-radius: var(--radius);
	font-size: 0.875em;
	cursor: pointer;
	transition: filter var(--transition);
}

.button:hover {
	filter: brightness(1.33);
}

.main-content {
	padding: 36px 24px;
	display: grid;
	gap: 36px;
	overflow: auto;
}

@media screen and (min-width: 992px) {
	.main-content {
		grid-template-columns: auto 250px;
	}
}

.main-content aside {
	order: -1;
	display: grid;
	align-content: flex-start;
	gap: 36px;
}

@media screen and (min-width: 992px) {
	.main-content aside {
		order: initial;
	}
}

.section__title {
	font-size: 1.25rem;
	margin-bottom: 16px;
}

.projects-wrapper {
	display: grid;
	gap: 12px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project {
	background-color: var(--card);
	color: var(--card-foreground);
	padding: 16px;
	border-radius: var(--radius);
	border-left: var(--radius) solid var(--primary);
	transition: border-left-color var(--transition), transform var(--transition),
		box-shadow var(--transition);
}

.project:hover {
	border-left-color: var(--primary);
	transform: scale(1.01);
	box-shadow: 2px 2px 4px var(--shadow);
}

.project__title {
	font-size: 1.25em;
	font-weight: bold;
}

.project__description {
	font-size: 1em;
	line-height: 1.6;
	margin-top: 12px;
	color: var(--muted-foreground);
}

.project__actions {
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 6px;
}

.project__actions button {
	border: none;
	background-color: transparent;
	width: 32px;
	height: 32px;
	font-size: 1rem;
	color: var(--card-foreground);
	cursor: pointer;
	transition: color var(--transition);
}

.project__actions button:hover {
	color: var(--primary);
}

.announcements-wrapper {
	background-color: var(--card);
	padding: 12px;
	border-radius: var(--radius);
}

.announcement {
	padding: 12px;
}

.announcement:not(:last-child) {
	border-bottom: 1px solid var(--border);
}

.announcement__title {
	font-size: 1em;
}

.announcement__description {
	font-size: 0.875em;
	line-height: 1.5;
	margin-top: 6px;
	color: var(--clr-muted);
}

.trending-wrapper {
	background-color: var(--card);
	padding: 12px;
	border-radius: var(--radius);
	display: grid;
	gap: 24px;
}

.trending {
	display: flex;
	align-items: center;
	gap: 12px;
}

.trending__username {
	font-weight: bold;
	font-size: 1em;
}

.trending__title {
	margin-top: 4px;
	font-size: 0.875em;
	color: var(--muted-foreground);
}
